:root {
  box-sizing: border-box;
  font-size: calc(0.6em + 1vw);
  --font-color: hsl(0, 7%, 74%);
  --success-green: hsl(156, 64%, 34%);
  --brown: hsl(28, 19%, 15%);
  --dark-green: hsla(182, 78%, 11%, 0.5);
  --palid-green: #274d36;
  --palid-red: #57221f;
}
@media (min-width: 50em) {
  :root {
    font-size: 1.2rem;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.4;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #1f2124;
  min-height: 100vh;
  color: var(--font-color);
}
