:root {
  box-sizing: border-box;
  font-size: calc(0.6em + 1vw);
  --font-color: rgb(177, 171, 171);
  --bordo: rgb(109, 66, 66);
  --obscure-bordo: hsl(0, 25%, 21%);
  --blue: hsl(193, 25%, 34%);
  --yelloww: hsl(67, 40%, 30%);
  --another: hsl(13, 25%, 34%);
}
@media (min-width: 50em) {
  :root {
    font-size: 1.2rem;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.4;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to right, rgb(66, 80, 82), rgb(56, 54, 54));
}
